pandas==1.5.3
numpy==1.24.2
matplotlib==3.7.1
seaborn==0.12.2
missingno==0.5.2
scikit-learn==1.2.2
xgboost==1.7.5
fastapi==0.95.1
uvicorn==0.21.1
joblib==1.2.0
datamodel-code-generator==0.18.0
genson==1.2.2
pathlib==1.0.1
#wrk-load-tools